# ESP32 Web Server URL
# Update this with your ESP32's IP address or hostname
ESP32_URL=http://192.168.1.100

# Grafana Configuration
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

# InfluxDB Configuration
INFLUXDB_DB=k6
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=admin
